html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
}


#player {
  position: absolute;
  background: grey;
  width: 32px;
  height: 32px;
}
#player.up {
  border-top: 3px solid black;
}
#player.down {
  border-bottom: 3px solid black;
}
#player.left {
  border-left: 3px solid black;
}
#player.right {
  border-right: 3px solid black;
}
#player.walk {
  background: orange;
}
